@import '@/assets/styles/utils/_vars.sass'
@import '@/assets/styles/utils/_mixins.sass'

.container
  width: 100%
  height: 100%
  +centering

.content
  width: 836px
  min-height: 276px
  display: grid
  grid-template-columns: 132px 1fr
  grid-template-rows: 170px 1fr
  grid-template-areas: "avatar cards" "controls cards"
  gap: $space-l

.avatarWrapper
  grid-area: avatar
  width: 132px

.controls
  grid-area: controls
  display: flex
  flex-direction: column
  align-items: flex-start
  gap: $space-xs

.cards
  grid-area: cards
  display: grid
  grid-template-columns: repeat(2, 332px)
  gap: $space-xs

.card
  display: flex
  flex-direction: column
  gap: $space-xs

.caption
  color: $base-neutral
