@import '@/assets/styles/utils/_vars.sass'
@import '@/assets/styles/utils/_mixins.sass'

.form
  flex-direction: column
  width: 100%
  gap: 24px
  +centering

.fieldset
  width: 100%
  flex-direction: column
  gap: $space-m
  max-height: 24px
  overflow: hidden
  transition-property: max-height, visibility, opacity
  +centering
  +transition($transition-duration-m)

  & > div
    visibility: hidden
    opacity: 0

  &.active
    max-height: 700px

    & > div
      visibility: visible
      opacity: 1

.legend
  width: 100%
  margin-bottom: $space-m

.buttons
  margin-top: clamp($space-xl, 20%, $space-xl * 2)
  width: 100%
