@import '@/assets/styles/utils/_vars.sass'
@import '@/assets/styles/utils/_mixins.sass'

.avatar
  display: flex
  flex-direction: column
  align-items: center
  position: relative

  &.small
    flex-direction: row

    .wrapper
      padding: 0
      margin-bottom: 0
      margin-right: $space-xs

      &::before, &::after
        content: none

    .imageWrapper
      width: $space-xl
      height: $space-xl
      border-radius: $space-xxs
      overflow: hidden

    .name
      font-size: 14px
      font-weight: $font-weight-m
      color: $base-neutral

.wrapper
  padding: $space-s
  margin-bottom: $space-s
  +centering
  +dashed-border

.imageWrapper
  width: 100px
  height: 100px
  position: relative

  &.hoverable
    cursor: pointer

    &::before
      content: 'Поменять аватар'
      position: absolute
      width: 100%
      height: 100%
      font-size: 10px
      text-align: center
      padding: $space-m
      background-color: rgba($bg-base-dark, 0.8)
      opacity: 0
      color: inherit
      transition-property: opacity
      +centering
      +transition

    &:hover
      &::before
        opacity: 1

.image
  width: 100%
  height: 100%
  object-fit: cover
  aspect-ratio: 1/1
  background-color: $base-neutral
